*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(/images/terminal\ screen.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.linuxcomandes{
    width: 500px;
    height: 500px;
    background-color: black;
    opacity: 0.8;
    border-top-right-radius:7px;
    border-top-left-radius:7px;
    
}
#icn1{
    margin-right: 3px;
}
#icn2{
    margin-right: 3px;
}
.root{
    width: 100%;
    height: 30px;
    background-color:white;
    border-top-right-radius:7px;
    border-top-left-radius:7px;
    padding-top:7px ;
    padding-left: 70px;
    display: flex;
}
.links{
    width: 100%;
    height: 30px;
    background-color:white;
    padding: 3px;
    padding-top: 7px;
}
.link{
    color: lightslategray;
    margin-right: 5px;
}
.linux{
    width: 75%;
    height: 100%;
    padding-top:5px ;
    padding-left: 150px;
    color: lightslategray;
}
.logos{
    width: 15%;
    height: 100%;
    display: flex;
    padding-left: 40px;
    padding-top: 10px;
    
    
}
.commandes{
    width: 100%;
    height:440px;
    display: flex;
    flex-direction: row;
}
.scrollbar{
    width: 20px;
    height:100%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}
.terminal{
    width:480px;
    height: 100%;
   
}
.up{
    width: 100%;
    height: 80px;
    background-color: white;
}
.down{
    width:100%;
    height:20px;
    background-color: white;
}
.upp{
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}
.commandline{
    width: 100%;
    height:30px;
    display: flex;
    flex-direction: row;
}
.username{
    width:20%;
    height: 100%;
    color: red;
    padding: 3px;
    text-align: left;
    text-align: center;
}
.command{
    width: 80%;
    height:100%;
    color: white;
}
.anc{
    text-decoration: none;
    color: white;
}
.inform{
    width:300px;
    height: 50px;
    background-color: lightblue;
    border: none;
    border-radius: 25px;
    margin-top: 25px;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
